################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SnapStudio/.vs/SnapStudio/FileContentIndex/2aa0005e-ffe6-4a2a-8833-94d348dfa36d.vsidx
